// bower:scss
// endbower
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

 html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

 body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

 article,
 aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

 audio,
 canvas,
 progress,
 video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

 audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

 progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

 a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

 a:active,
 a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

 abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

 b,
 strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

 b,
 strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

 dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

 h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

 mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

 small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

 sub,
 sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

 img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

 svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

 code,
 kbd,
 pre,
 samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

 figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

 hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

 optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

 button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

 button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

 button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

 fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

 legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

 textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

 [type="checkbox"],
 [type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

 [type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

 [type="search"]::-webkit-search-cancel-button,
 [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

 ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

 ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-SemiBold.eot');
  src: url('../fonts/Quiroh-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-SemiBold.woff') format('woff'),
  url('../fonts/Quiroh-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-Regular.eot');
  src: url('../fonts/Quiroh-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-Regular.woff') format('woff'),
  url('../fonts/Quiroh-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Have Heart One';
  src: url('../fonts/HaveHeartOne.eot');
  src: url('../fonts/HaveHeartOne.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HaveHeartOne.woff') format('woff'),
  url('../fonts/HaveHeartOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-Light.eot');
  src: url('../fonts/Quiroh-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-Light.woff') format('woff'),
  url('../fonts/Quiroh-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-Medium.eot');
  src: url('../fonts/Quiroh-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-Medium.woff') format('woff'),
  url('../fonts/Quiroh-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-Heavy.eot');
  src: url('../fonts/Quiroh-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-Heavy.woff') format('woff'),
  url('../fonts/Quiroh-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-Bold.eot');
  src: url('../fonts/Quiroh-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-Bold.woff') format('woff'),
  url('../fonts/Quiroh-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quiroh';
  src: url('../fonts/Quiroh-Thin.eot');
  src: url('../fonts/Quiroh-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quiroh-Thin.woff') format('woff'),
  url('../fonts/Quiroh-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}



@import 'styles';
@import 'sizes';

.wrapper__header{
  width:100%;
  max-width:1600px;
  margin: 0 auto;
}
.wrapper{
  width:100%;
  max-width:1060px;
  margin: 0 auto;
}
.btn{
  -webkit-appearance: none;
  -moz-appearance:none;
  font:inherit;
  cursor:pointer;
  border:none;
  display:inline-block;
  margin: 0;
  line-height:1.25;
  padding:10px 30px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  font-family: "Quiroh";
  font-size: 12px;
  border:1px solid #fff;
  &:hover{
    text-decoration:none;
  }
  &--empty{
    background:transparent;
    &:hover{
      background:#fff;
      border-color:#fff;
      color:#4aae4f;
    }
  }
  &--pill{
    border-radius: 50px;
  }
  &--yellow{
    background:#ffc104;
    border-color:#ffc104;
    color:#000;
    &:hover{
      background:#fff;
      border-color:#fff;
      color:#4aae4f;
    }
  }
  &--social{
    &:hover{
      background:#7752b8;
      border-color: #7752b8;
      color:#fff;
    }
  }
  &--facebook{
    background:#1467a9;
    border-color:#1467a9;
  }
  &--google{
    background:#de4a31;
    border-color:#de4a31;

  }
  &--submit{
    background:#21a5ff;
    border-color:#21a5ff;
    min-width:210px;
    margin:30px auto 45px;
    &:hover{
      background:#7752b8;
      border-color: #7752b8;
    }
  }
  &--join{
    min-width:210px;
    background:#e71c61;
    border-color: #e71c61;
    &:hover{
      background:#7752b8;
      border-color: #7752b8;
    }
  }
  &--has-icon{
    display:flex;
    align-items:center;
    justify-content:center;
    svg{
      margin-right:20px;
    }
  }
}


@import 'flex-layout-attribute/_vars';
@import 'flex-layout-attribute/_reset';
@import 'flex-layout-attribute/_layout';
@import 'flex-layout-attribute/_self';

/* Optional additional features — (un)comment to include/exclude */
@import 'flex-layout-attribute/_layout-responsive';
@import 'flex-layout-attribute/_self-responsive';


body {
  background: #fafafa;
  font-family: 'Quiroh', Helvetica, Arial, sans-serif;
  color: #333;
}
header{
  min-height:93px;
  background: -webkit-linear-gradient(left, #ffc104 0%, #f3594f 50%, #6639b6 100%);
  background: -o-linear-gradient(left, #ffc104 0%, #f3594f 50%, #6639b6 100%);
  background: linear-gradient(to right, #ffc104 0%, #f3594f 50%, #6639b6 100%); 
  display:flex;
  justify-content: center;
  align-items:center;
  .wrapper__header{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }
}
.header{
  &__svg{
    width: 137px;
    height:auto;
    margin-right: auto;
  }
  &__nav{
    display: inline-block;
  }
  &__list{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0;
  }
  &__list-item{
    list-style-type: none;
    font-family: "Quiroh";
    margin-right: 20px;
    &:not(:last-child):after{
      content:"|";
      display:inline-block;
      padding-left: 20px;
      color:#fff;
      font-family: "Quiroh";
      font-weight: 100;
    }
  }
  &__list-link{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    padding-bottom:10px;
    border-bottom:1px solid transparent;
    transition:border .33s ease-in;
    &.header__list-link--active,
    &:hover{
      border-bottom:1px solid #fff;
    }
  }
  &__account-actions{
    display:inline-block;
    a{
      margin-left:20px;
    }
  }
  
}


.main{
  background:#f0f0f0;
  position:relative;
  padding:90px 0;
}
.main-bg-text{
  position:absolute;
  font-family: "Have Heart One";
  font-size: 345px;
  color:#e7e8e9;
  text-align:center;
  width:60%;
  top:50%;
  left:50%;
  transform:translate3d(-50%,-50%,0) rotateZ(-10deg);
}
.login{
  &__wrapper{
    z-index: 2;
    position: relative;
    max-width:560px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
  }
  &__icon{
    margin-bottom: 35px;
  }
  &__text{
    color:#000;
    margin:0;
    margin-bottom: 30px;
    font-weight: 300;
  }
  &__social{
    padding:30px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    a:first-child{
      margin-right:60px;
    }
  }
  &__separator{
    margin:10px 0 30px;
    padding-left: 20px;
    font-family: "Quiroh";
    font-weight: 300;
  }
  &__forgot{
    font-size: 10px;
    line-height: 20px;
    color:#6e6e6e;
  }
}
.inline-link{
  color:#21a5ff;
  text-decoration:none;
}

.form{

}
.input-box{
  margin-bottom: 25px;
  display:flex;
  flex-direction:column;
}
.input{
  &__label{
    text-transform: uppercase;
    font-size: 10px;
    line-height:20px;
    margin-bottom: 10px;
    color:#3c3c3c;
  }
  &__value{
    width:340px;
    outline: 0;
    border-radius:5px; 
    line-height:20px;
    padding:10px;
    font-size: 12px;
    background-color:#fff;
    border:0;
    &::-webkit-input-placeholder{
      color:black;
    }
  }
}
::-webkit-input-placeholder {
  color:black;
}

.join{
  padding:60px 0;
  background:#fff;
  text-align:center;
}

footer{
  padding:90px 0;
  background:#36454e;
}
.footer{
  &__row{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
  }
  &__nav-item{
    padding:0;
    display:inline-block;
    width:calc(100%/12 * 2);
    &:last-child{
      width:calc(100%/12 * 4);
    }
  }
  &__list{
    list-style-type: none;
  }
  &__list-item{
    font-family: "Quiroh";
    font-size: 14px;
    color:#fff;
    margin-bottom: 10px;
    &:first-child{
      margin-bottom: 20px;
    }
    &.copyright{
      font-size: 10px;
    }
    &.designby{
      font-size: 10px;
      color:#b7b7b7;
    }
  }
  &--link{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: .01em;
  }
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 2000;
  overflow: hidden;
  visibility: hidden;
  backface-visibility: hidden;
  background: rgba(54, 69, 78 ,0.95);
  transform: scale3d(0, 0, 0);
  opacity: 0;
  transition:visibility .3s ease-in, transform .3s ease-in .3s, opacity .3s ease-in;
  &--show {
    visibility: visible;
    transform: scale3d(1, 1, 1);
    opacity: 1;
    transition:visibility .3s ease-in , transform .3s ease-in, opacity .3s ease-in .3s;
  }
  &__wrapper{
    background:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:5px;
    width: 100%;
    padding: 70px 90px;
      max-width: 700px;
  }
  .retieve__title{
    font-family: "Quiroh";
    font-size: 20px;
    font-weight: 300;
  }
  .retieve__text{
    font-family: "Quiroh";
    font-size: 12px;
    font-weight: 300;
  }
  .input__value{
    font-size: 15px;
    font-family: "Quiroh";
    font-weight: 300;
    border-bottom:1px solid #e5e5e5;
    padding:15px 0;
    width:100%;
    text-align:center;
    border-radius:0;
  }
  form{
    width:100%;
  }
  .input-box{
      &:last-child{
        margin-bottom: 0;
      }
  }
  .btn--submit{
    margin: 0;
    max-width:210px;
    margin: 0 auto;
  }

}
.social-icon-footer{
  margin-right:10px;
  width:21px;
  height:21px;
  margin-bottom: 10px;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


